body {
  background: url('img/bg.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

@font-face {
    font-family: 'Azedo_Bold'; 
    src: url('font/Azedo-Bold.otf'); 
}

@font-face{
  font-family: 'hentges';
  src: url('font/HENTGES.ttf'); 
}

@font-face{
  font-family: 'adam_cg_pro';
  src: url('font/adam_cg_pro.otf'); 
}



.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#catchphrase
{
	color : white;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	text-align: center;
}

#mc4wp-form-1
{
	margin-top : 50px;
}


body {
  margin: 0;
}



.header {
    font-size: 75px;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    font-family: 'adam_cg_pro';
    color: #f55858;
    /* text-align: center; */
    /* padding-left: 10px; */
    /* padding-bottom: 0px; */
    /* padding-right: 10px; */
    margin: 0;
    text-align: center;
    font-size: 3.8vw;
}


.description {
  color: #afdecb;
  text-align: center;
  font-family: 'hentges';
  font-size: 36px;
  padding-top: 1%;
  padding-bottom: 0.5%;
  font-size: 2.5vw;
}


#landing_page_bg
{
  background-color: white;
  opacity: 0.9;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 20%;*/


  margin-top: 40vh;
}


.input {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: "hentges";
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  outline: none;
  outline: 2px solid #f55858;
  box-shadow: 0 0 2px #f55858;
}


#submit {
  width: 30%;
  height: 46px;
  background: #f55858;
  font-family: "hentges";
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  color: white;
  font-size: 1vw;
}
  

#submit:hover {
  background: #c53f3f;
}
  

input:focus {
  outline: none;
  outline: 2px solid #f55858;
  box-shadow: 0 0 2px #f55858;
}

.mc4wp-alert
{
    width: 19%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "hentges";
    background-color: white;
    opacity: 0.9;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2%;
    color: #737373;
    font-size: 18px;
}


/* RESPONSIVE */
/* telephone */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

  input, textarea, select { -webkit-appearance: none; border-radius: 0; -webkit-border-radius:0; }
* { -webkit-tap-highlight-color:transparent; }
div, a, section, article, span, img, h1, h2, h3, h4, h5 ,h6 { -webkit-user-select:none; -moz-user-select:none; }

  #landing_page_bg
  {
    margin-top: 36vh;
  }

  .input {
    display: flex;
    align-items: center;
    width: 60%;
    /* height: 25%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 35px;
  }

  #email {
    width: 75%;
    background: #FDFCFB;
    font-family: "hentges";
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    outline: none;
    outline: 2px solid #f55858;
    box-shadow: 0 0 2px #f55858;
    height: 100px;
    font-size: 30px;
}

  #submit {
    width: 50%;
    font-family: "hentges";
    height: 100px;
    font-size: 30px;
    -webkit-appearance: none;
    font-weight: 500;
}

.description
{
  font-size: 6vw;
}

.header
{
  font-size: 7vw;
  margin-bottom: 2vw;
  padding-top: 10px;

}

.mc4wp-alert {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "hentges";
    background-color: white;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 2%;
    color: #737373;
    font-size: 40px;
}

.mc4wp-response
{
  padding-top: 40px;
}


}


body.mac .header
{
  padding-top: 2vh;
}
