/* phone  */
@media only screen and (max-device-width: 600px){

  body
  {
    position: relative !important;
  }

  .fancybox-slide--iframe .fancybox-content
  {
    width: 90% !important;
  }

  .cart_hours, .votre_commande
   {
      font-size: 20px;
   }

   .woocommerce td.product-quantity
   {
      min-width: initial;
   }
   .produits_checkout .product-name
   {
    font-size: 16px;
   }
   .produits_checkout .product-quantity, .produits_checkout .product-subtotal
   {
    font-size: 16px !important;
   }

   .woocommerce .checkout_coupon .button
   {
      font-size: 10px;
      white-space: normal;
   }

   body.checkout-page .modal_checkout .woocommerce #place_order
   {
    font-size: 13px;
    width: 60% !important;
   }

  /* thank you */
  .woocommerce-thankyou-order-received
  {
    font-size: 17px;
    width: 100%;
  }

  #livraison_prevu
  {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #info_commande
  {
    width: 100%;
  }

  .info_commande_line_double
  {
    height: 50px;
  }

  .info_commande_line_img
  {
    width: 10%;
  }

  .info_commande_line_text1
  {
    font-size: 11px;
  }

  .info_commande_line_text2
  {
    margin-right: 0px;
    font-size: 11px;
  }

  .info_commande_line_simple
  {
    height: 50px;
  }

  /* inputadress */
    #inputAdressHome_p1,
    #inputAdressHome_p2
    {
      float: left;
      width: 100%
    }

    #cuisine_ferme
    {
    z-index: 1000;
    color: white;
    position: absolute;
    display: block;
    overflow: visible;
    font-family: "adam";
    height: 100%;
    top: 14%;
    text-align: center;
    font-size: 12px;
    }

  /* footer */
  .footer_link_middle a
  {
    text-align: left;
    font-size: 17px;
    display: inherit;
  }

  .text_block_contact a
  {
    float: left;
  }

  .text_block_contact p
  {
  	font-size: 18px !important;
  }	

  	/* product */
	.container_qty_qty
	{
		font-size: 16px;
	}

	/* bandeau */
	.bandeau_explication_home_element
	{
		width: 80%;
	}

  #schedule_address
  {
    background-position: calc(100% - 15px) calc(1em + 20%), calc(100% - 5px) calc(1em + 20%), 100% 0 !important;
    background-size: 11px 11px, 11px 11px, 2.5em 2.5em !important;
  }

  .triangle_img_left
  {
    top: 29% !important;
  }



	/* footer */
	.footer_link_middle a
	{
		display: block;
		font-size: 17px;
	}

	.text_block_contact a
	{
		float: left;
	}


  .new_cart_desktop
  {
    display: none !important;
  }

  
  #container_top_notre_concept
  {
    padding-top: 25px;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1200px){

	/* inputadress*/
	#inputAdressHome_p1
	{
		width: 68%;
	}


    #cuisine_ferme
    {
    z-index: 1000;
    color: white;
    position: absolute;
    display: block;
    overflow: visible;
    font-family: "adam";
    height: 100%;
    top: 40%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: 2vw;
    }

	/* bandeau */
	.bandeau_explication_home_element
	{
		width: 20%;
	}

	.container_qty_qty
	{
		font-size: 1.5vw;
	}

	/* footer */
	.footer_link_middle a
	{
		font-size: 1.3vw;
	}
}

/* tablet  */
@media only screen and (min-device-width:602px) and (max-device-width: 1199px){

	/* input adress */
	#inputAdressHome_p2,
	#inputAdressHome_p1
	{
	  width: 50%;
	  float: left;
	}

    #cuisine_ferme
    {
    z-index: 1000;
    color: white;
    position: absolute;
    display: block;
    overflow: visible;
    font-family: "adam";
    height: 100%;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-size: 24px;
    }

	/* bandeau */
	.bandeau_explication_home_element
	{
		width: 40%;
	}

    #schedule_address
  {
    background-position: calc(100% - 15px) calc(1em + 20%), calc(100% - 5px) calc(1em + 20%), 100% 0 !important;
    background-size: 11px 11px, 11px 11px, 2.5em 2.5em !important;
  }

  .triangle_img_left
  {
    top: 29% !important;
  }

	/* product */
	#main .woocommerce div.product span.price
	{
		font-size: 16px;
		padding-top: 0;
	}

	/* footer */
	.footer_link_middle a
	{
		float: left;
    margin-left: 5vw;
	}

	.text_block_contact a
	{
		font-size: 24px;
	}
}
 
/* IPhone5*/
@media only screen and (max-device-width: 320px){
  #apus-header-mobile .mobile_header_right
  {
    width: 37%;
  }

  #apus-header-mobile .mobile_header_left
  {
    width:35%;
  }

  #apus-header-mobile #logo_text_header
  {
    flex-grow: 1;
  }

  #apus-header-mobile .row
  {
    display: flex;
  }

  .products-grid .product-block.grid
  {
    width: 280px !important;
  }

  .products .product
  {
    padding: 0;
  }

    #schedule_address
  {
    background-position: calc(100% - 15px) calc(1em + 20%), calc(100% - 5px) calc(1em + 20%), 100% 0 !important;
    background-size: 11px 11px, 11px 11px, 2.5em 2.5em !important;
  }

  .triangle_img_left
  {
    top: 29% !important;
  }

  #container_top_notre_concept
  {
    padding-top: 25px;
  }
}