// title heading
.widget.widget-text-heading{
	.description{
    font-size: 14px;
  }
  .widget-title {
      font-size: 30px;
      margin: 0 0 15px;
  }
  &.style1{
    @include rtl-text-align-right();
    .widget-title {
      font-size: 50px;
    }
  }
  &.style2{
    margin: 0;
    .widget-title{
      padding:0 0 5px;
      &:before{
        content: "";
        position: absolute;
        @include rtl-left(0);
        top:100%;
        @include size(40px,2px);
        background: $theme-color;
      }
    }
  }
  &.style3{
    .widget-title{
      font-size: 30px;
      margin: 0 0 30px;
    }
  }
}
// widget call to action
.widget.widget-action{
  text-align: center;
  .widget-title{
    font-size: 50px;
    line-height: 1.1;
    margin: 0;
  }
  .description{
    font-size: 16px;
    margin: 0 0 25px;
  }
  &.style1{
    text-align: inherit;
    @media(min-width:992px){
      .widget-title{
        @include rtl-margin-left(-100px);
      }
    }
    .widget-title{
      color: $theme-color;
    }
  }
  &.style2{
    @include rtl-text-align-right();
    .widget-title{
      margin: 0 0 15px;
    }
    .description,
    .widget-title{
      color: #1b1a1a;
    }
  }
}
// widget counter
.counters{
  text-align: center;
  .counter{
    font-size: 50px;
    font-weight:600;
    line-height: 1;
    color: #000;
  }
  h5{
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color;
    font-weight: 400;
  }
}
//accordion
.vc_tta-accordion{
  .vc_tta-panel{
    margin: 0 0 10px;
    border:1px solid darken($border-color,7%);
    .vc_tta-panel-title{
      font-size: 14px;
      text-transform: uppercase;
      > a{
        color: #000  !important;
      }
    }
    .vc_tta-panel-heading{
      margin: 0 !important;
       padding: 4px;
      border:none;
      background: #fff !important;
    }
    .vc_tta-panel-body{
      background: #fff !important;
      border:none !important;
      padding: 10px  $theme-padding 20px;
    }
  }
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon{
  left: inherit;
  right: 30px;
}
//widget banner
.widget-banner{
  .img-feature{
    display: inline-block;
    position: relative;
  }
  .mailto{
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    @include rtl-left(-$theme-margin);
    bottom:-20px;
    left: -45px;
    @include rotate(-90deg);
    @include transform-origin(0 ,0);
    a{
      color: $theme-color;
    }
  }
  .name{
    color:$link-color;
    font-size: 20px;
    text-transform: inherit;
    font-style: italic;
  }
  &.style2{
    .style-table{
      > div{
        display: block;
        width: 100%;
        &.img-info{
          padding-bottom:20px;
        }
      }
    }
    @media(min-width:992px){
      .widget-content{
        @include rtl-padding-left(100px);
      }
    }
    .widget-title{
      font-size: 17px;
      margin: 0 0 5px;
    }
  }
  &.style3{
    margin: 0;
    .widget-content{
      padding:$theme-padding;
      text-align: center;
    }
    @media(min-width:992px){
      .widget-content{
        padding:100px;
      }
      .widget-title{
        margin: 0 0 40px !important;
      }
    }
  }
}

//widget_apus_vertical_menu
.widget_apus_vertical_menu{
  
  .widget-vertical-menu{
    ul{
      padding: 0 30px;
      background: $theme-color-secondary  ;
    }
  }
}



// widget vertical menu
.widget.widget_apus_vertical_menu{
  > .widget-title{
    margin: 0;
    padding: 20px 40px;
    background:$theme-color;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
    .fa{
      @include rtl-margin-right(18px);
    }
    > span{
      padding: 0;
      border:none;
      margin: 0;
    }
  }
  .dropdown-menu{
    .widgettitle,
    .widget-title{
      border:none;
      margin: 0 0 10px;
      > span{
        margin: 0;
        padding: 0;
        border:none;
      }
    }
  }
  &.darken{
    .apus-vertical-menu{
      background: #f6f6f6;
    }
  }
}

.apus-vertical-menu{
  padding: 0 !important;
  background: #fff;
  .navbar-vertical-mega{
    > li{
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(#dddddd,0.3);
      text-transform: capitalize;
      line-height: 60px;
      &:last-child{
        border: none;
      }
      &.open,
      &:hover{
        > a{
          background: transparent;
        }
      }
      > a{
        font-size: 20px;
        padding: 0;
        font-weight: 700;
        color: #ffffff;
        &:hover,
        &:active,
        &:focus{
          background:transparent;
        }
        > img{
          @include rtl-margin-right(18px);
        }
        .caret{
          @include rtl-float-right();
          margin: 23px 0 0;
          @include rotate(-90deg);
        }
      }
      .apus-container{
        padding: 10px 35px;
      }
    }
    .dropdown-menu{
      .apus_custom_menu,
      .widget{
        margin: 0;
      }
      .product-block.grid{
        margin: 0 0 10px;
      }
    }
  }
  &.menu-left{
    .dropdown-menu{
      top: 0;
      left: 100%;
    }
  }
  &.menu-right{
    .dropdown-menu{
      top: 0;
      right: 100%;
    }
  }
}
// widget contact
.widget-contact{
  .title{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
  }
  .item{
    padding: 0 0 $theme-margin;
    &:last-child{
      padding: 0;
    }
  }
  &.default{
    color: #999999;
    .title{
      color: #fff;
      margin: 0 0 5px;
    }
    .media-left {
      > i{
        border:1px solid #fff;
        @include border-radius(4px);
        @include size(50px,50px);
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        color: $theme-color;
      }
    }
    @media(min-width:992px){
      .media-left{
        @include rtl-padding-right(20px);
      }
    }
    &.style_circle{
      .media-left > i{
        @include border-radius(50%);
      }
    }
    &.style_normal{
      .item{
        padding: 0 0 50px;
      }
      .title{
        color: $link-color;
      }
      .media-left {
        > i{
          border:1px solid $border-color;
        }
      }
    }
  }
}

// tab lists
.tabs-v1{
  padding-top: 50px;
  .tab-content{
    padding:25px 30px;
    margin:0;
    // border:1px solid $border-color;
    max-width: 1440px;
    font-family: $font-family-sans-serif;
    margin: 0 auto;
    color: #515151;
    font-size: 16px;
    iframe {
      margin: 50px 0;
    }
    img{
      margin: 30px 0;
    }
    #comments{
      border: none;
    }
  }
  .nav-tabs{
    border: none;
    margin:0 0 10px;
    text-align: center;
    li{
      margin: 0;
      float: none;
      > a{
        font-size: 30px;
        font-weight: 700;
        color: $link-color;
        font-family: $font-family-three;
        text-transform: uppercase;
        padding: 10px 12px;
        @include transition(all 0.3s ease 0s);
        border: none;
      }
      &:focus,
      &:hover,
      &.active{
        > a:focus,
        > a:hover,
        > a:active,
        > a{
          border: none;
          color: #111111;
        }
      }
    }
  }
  h2{
    margin:0 0 ($theme-margin / 2);
    font-size:28px;
    font-weight: 600;
    margin: 0 0 30px !important;
    text-align: uppercase;
  }
}

.nav.tabs-product1{
  text-align: center;
  padding: 20px 0;
  > li{
    display: inline-block;
    line-height: 1;
    float: none;
    @include rtl-border-right(1px solid $text-color);
    &:last-child{
      border:none;
    }
    > a{
      font-family: $headings-font-family;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-color;
      padding: 0 10px;
      background: transparent;
    }
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        background: transparent;
      }
    }
  }
}
.nav.tabs-product-light{
  > li{
    border-color: #fff;
    > a{
      color: #fff;
    }
    &.active,
    &:hover{
      > a{
        color:$theme-color-second;
        background: transparent;
      }
    }
  }
}
// carousel
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel-top .owl-carousel,
.owl-carousel-top.owl-carousel{
  .owl-controls .owl-nav .owl-next,
  .owl-controls .owl-nav .owl-prev{
    @include opacity(1);
    background: #aaaaaa;
    border:none;
    color: #fff;
    &:hover,&:active{
      background: #222222;
      color: #fff;
    }
  }
  .owl-controls{
    top:-70px;
    width: 108px;
    @include rtl-right(0);
    @include translateY(0px);
  }
}
.owl-carousel-top-full{
  .owl-carousel{
    .owl-controls .owl-nav .owl-next,
    .owl-controls .owl-nav .owl-prev{
      @include opacity(1);
      background: #aaaaaa;
      border:none;
      color: #fff;
      &:hover,&:active{
        background: #222222;
        color: #fff;
      }
    }
    .owl-controls{
      top:-108px;
      @include translateY(0px);
    }
  }
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  margin-right:-($theme-margin / 2);
  margin-left:-($theme-margin / 2);
  cursor: pointer;
  &:hover{
  	.owl-controls .owl-nav .owl-prev,
  	.owl-controls .owl-nav .owl-next{
  		@include opacity(1);
  	}
  }
}
.owl-controls{
  .owl-dots{
    text-align: center;
    .owl-dot{
      cursor: pointer;
      margin: 0 4px;
      background: transition;
      @include size(12px,12px);
      @include border-radius(50%);
      border:2px solid $theme-color;
      display: inline-block;
      &.active{
        background: $theme-color;
      }
    }
  }
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls{
	position: absolute;
    top: 50%;
    width: 100%;
    @include translateY(-50%);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next{
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  @include size(35px,35px);
  @include opacity(0);
  background: #aaaaaa;
  color: #fff;
  border:1px solid #aaaaaa;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  @include transition(all 0.3s ease);
  position: absolute;
  @include translateY(-50%);
  top:50%;
  left:15px;
  z-index: 99;
  &:hover{
      border-color: #222222;
      background: #222222;
      color: #fff;
  }
}
.owl-carousel .owl-controls .owl-nav .owl-next{
  left:inherit;
  right: 15px;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right:$theme-padding / 2;
  padding-left:$theme-padding / 2;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
//wpb_gmaps_widget
.wpb_gmaps_widget.wpb_content_element{
  margin:0 ;
}
// widget-social
.widget-social{
  .social{
    margin:0;
    > li{
      padding:0;
      @include rtl-margin-left(20px);
      &:first-child{
        @include rtl-margin-left(0px);
      }
      a{
        display: inline-block;
      }
    }
  }
}
//social-link
.social-link{
  display: inline-block;
  margin: 0 5px;
  padding:0;
  li{
    display: inline-block;
    margin: 0 5px;
    a{
      background: #f4f4f4 none repeat scroll 0 0;
      border-radius: 100%;
      color: $text-color;
      display: inline-block;
      height: 40px;
      line-height: 38px;
      text-align: center;
      width: 40px;
      border:1px solid $border-color;
    }
  }
  &.lighten{
    li a{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
// ourteam-inner
.ourteam-inner{
    .name-team{
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
    }
    .job{
      font-size: 14px;
      font-weight: 400;
      margin:0;
    }
    .avarta{
      &:before{
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        @include opacity(0);
        position: absolute;
        @include transition(all 0.2s ease-in-out 0s);
        width: 100%;
        z-index: 1;
      }
      overflow: hidden;
      position: relative;
      .social-link{
        bottom: 0;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: center;
        @include transition(all 0.2s ease-in-out 0s);
        visibility: hidden;
        width: 100%;
        z-index: 9;
      }
    } 
    &:hover{
      .avarta:before{
         @include opacity(1);
      }
      .avarta .social-link{
        bottom: 60px;
        visibility: visible;
      }
    }
    .info{
      padding: 20px;
    }
}

// .widget-gallery
.widget-gallery{
  .image{
    margin: 0 10px 10px 0;
  }
  .fancybox{
     position: relative;
     display: inline-block;
    &:before{
      background: rgba(0, 0, 0, 0.8) url("#{$image-theme-path}plus.png") no-repeat scroll center center;
      content: "";
      height: 100%;
      left: 0;
      @include opacity(0);
      position: absolute;
      top: 0;
      @include transition( all 0.2s ease-in-out 0s);
      width: 100%;
      z-index: 9;
    }
    &:hover{
      &:before{
          @include opacity(1);
      }
    }
  }
  .heading{
    line-height: 1;
    padding:60px 0;
  }
  .description,
  .heading{
    h3{
      margin:0;
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
      text-transform: uppercase;
      &.title-des{
          margin:8px 0 0;
      }
    }
  }

  .fancybox{
    display: block;
    max-height: 292px;
    overflow: hidden;
  }
  &.style1{
    .image{
      margin: 0 5px 5px 0;
    }
  }
  &.style2{
    .title-des,
    .widget-title{
      color: #FFF;
    }
    .heading{
      line-height: 1;
      padding:90px 0;
    }
    .image{
      margin: 0;
    }
    .heading,
    .description{
      background: #272727 none repeat scroll 0 0;
      color: #fff;
    }
  }
  &.style3{
    .heading{
      padding: 65px 0;
    }
    .widget-title{
      color: #fff;
    }
  }
}

//testimonials
.widget-testimonials{
  font-family: $font-family-sans-serif;
  text-align: center;
  .testimonials-body{
    .testimonials-profile{
      .testimonial-avatar {
        img{
          margin: 0 auto;
          @include size(80px, 80px);
          @include border-radius(50%);
        }
      }
      .testimonial-meta {
        max-width: 438px;
        margin: 0 auto;
        color: #111111;
        .info{
          padding: 6px 0 18px;
          .name-client{
            margin:0px;
            display: inline;
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
          }
          .job{
            color: $text-color;
          }
        }
        .description{
          line-height: 20px;
        }
      }
    }
  }
  .owl-carousel .owl-controls{
    top: auto;
    bottom: -55px;
    @include translateY(0px);
  }
}


// section-contact
.section-contact{
  font-size: 16px;
  position: relative;
  textarea ,
  input:not(.btn) {
    width: 100%;
    max-width: 100%;
    background: #f2f2f2;
    border:1px solid #f2f2f2;
    margin: 0 0 20px;
    padding: 10px 28px;
    font-size: 14px;
    @include transition(all 0.3s ease-in-out 0s);
    &:active, &:focus{
      background : transparent;
      color: #515151;
    }
  }
  .title-contact{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-family-serif;
    color: #111111;
  }
  
  textarea{
    max-height: 230px;
    margin:0;
  }
  p{
    margin: 0;
  }
  .title{
     font-size: 30px;
     margin:0 0 30px;
  }
  // .info-description{
  //   margin:0 0 30px;
  // }
  input.btn{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 52px;
    margin-top: 5px;
    background: #111111;
    color: #ffffff;
    position: absolute;
    width: 100%;
  }
  
}


// apus video
.video-wrapper-inner{
  position:relative;
  .fancybox-video{
    position:relative;
    display:block;
    margin:20px 0 0;
    .fa{
      border: 2px solid #ffffff;
      border-radius: 50%;
      bottom: 0;
      color: #ffffff;
      font-size: 28px;
      height: 80px;
      left: 0;
      line-height: 76px;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      @include transition(all 0.3s ease-in-out 0s);
      width: 80px;
      z-index: 9;
    }
    &:hover{
      .fa{
        @include scale(0.8);
      }
    }
  }
  .title-video{
    color:#fff;
    font-size:28px;
    padding:0 45px;
    background:#17181a;
    position:relative;
    z-index:99;
    display:inline-block;
    margin:0 0 10px;
    text-transform:uppercase;
  }
  .description{
    color:#8c8c8c;
  }
  .video{
    padding-bottom:0;
  }
  .video-content{
    left: 80px;
    margin: -48px 0 0;
    position: absolute;
    top: 100%;
    .description{
      padding:0 45px;
      margin:0;
    }
  }
}
.widget-video.style1{
  margin:0;
  .video-wrapper-inner:before{
    display: none;
  }
  .video{
    padding:0;
  }
  .fancybox-video{
    margin:0;
  }
}
//widget-infor
.widget-infor{
  .infor-inner{
    margin: 0 0 15px;
     .heding{
        font-weight: 400;
     } 
  }
}


// widget feature
.widget-features-box{
  &.widget.default{
    background: $theme-color;
    padding: 35px 32px 20px;
  }
  color: #f8f8f8; 
  // @include rtl-text-align-center();
  text-align: center;
  
  .fbox-content{
    .ourservice-heading{
      margin: 8px 0 5px;
      font-size: 30px;
      color: #f8f8f8;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .description{
      text-transform: none;
      font-size: $font-size-base;
      line-height: 20px;
    }
  }
  &.default{
    .fbox-icon{
      i{
        font-size: 36px;
        line-height: 36px;
      }
      @include opacity(0.5);
    }
  }
  &.style2{
    padding: 35px 32px 20px;
    .fbox-icon{
      .inner{
        @include size(60px, 60px);
        border: 2px solid $theme-color;
        @include border-radius(50%);
        line-height: 60px;
        margin: 0 auto;
        @include transition(all 0.3s ease);
      }
      i{
        font-size: 24px;
        line-height: 24px;
        color: $theme-color;
      }
    }
    .fbox-content{
      .ourservice-heading{
        color: #111111;
        &:after{
          content: "";
          display: block;
          background: url("#{$image-theme-path}lineicon.jpg") no-repeat;
          width: 40px;
          height: 15px;
          margin: 0 auto;
        }
      }
      .description{
        color: $text-color;
      }
    }
    &:hover{
      .fbox-icon{
        .inner{
          background: $theme-color;
          i{
            color: #ffffff;
          }
        }
      }
    }
  }
  &.style3{
    @media (min-width: 992px){
      margin: 0 30px;
    }
    .media-left{
      vertical-align: middle;
      @include rtl-padding-right(20px);
      i{
        font-size: 35px;
      }
    }
    .fbox-content{
      @include rtl-text-align-left;
      .ourservice-heading{
        margin: 0;
        font-size: 24px;
        color: #111111;
        letter-spacing: 1px;
        font-family: $font-family-sans-serif;
        text-transform: capitalize;
        font-weight: 700;
      }
      .description{
        text-transform: none;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        color: $text-color;
        line-height: 20px;
        margin: 0px;
      }
      @media (max-width: $screen-lg-desktop) and (min-width: $screen-desktop){
        .ourservice-heading{
          font-size: 15px;
        }
        .description{
          font-size: 7px;
        }
      }
    }
    .feature-box{
      padding: 15px 0px 20px 25px;
      border: 1px solid #ddd;
      @include rtl-border-right(none);
      background: #ffffff;
    }
    [class*="col-"]{
      &:last-child{
        .feature-box{
          @include rtl-border-right(1px solid #ddd);
        }
      }
    }
  }
  &.style4{
    .fbox-image{
      min-width: 90px;
    }
    .feature-box{
      margin-bottom: 55px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
    .media-left{
      vertical-align: middle;
      @include rtl-padding-right(20px);
    }
    .fbox-content{
      text-align: left;
      .ourservice-heading{
        font-family: $font-family-sans-serif;
        text-transform: capitalize;
        letter-spacing: 0px;
      }
      .description{
        font-size: 16px;
      }
    }
  }
}


// banner-countdown-widget
.banner-countdown-widget{
  &.default{
    h5{
      font-size:13px;
      font-family: $font-family-second ;
      margin: 0;
      letter-spacing: 2px;
    }
    h3{
      font-size: 25px;
      margin: 0 0 10px;
      letter-spacing: 2px;
    }
    .des{
      font-size: 15px;
      color: $link-color;
      margin: 0 0 25px;
    }
  }
  &.style-2{
    text-align: center;
    font-family: $headings-font-family;
    .apus-countdown{
      margin: 0 0 43px;
    }
    .times{
      > div{
        line-height: 1;
        font-size: 12px;
        font-family: 'Montserrat Light';
        padding: 12px 16px;
        @include border-radius(50%);
        background: #fff;
        display: inline-block;
        margin: 0 4px;
        span{
          font-size: 18px;
          margin: 0 0 4px;
          font-weight: 700;
          color: $link-color;
          display: block;
        }
      }
    }
    h3{
      font-size: 90px;
      font-family: $font-family-second ;
      margin: 0;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 300;
    }
    h5{
      font-family: $font-family-three;
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      margin: 0;
      letter-spacing: 2px;
    }
    .des{
      color: #fff;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: uppercase;
      margin: 7px 0 20px;
    }
  }
}

.countdown-wrapper-default .times{
  > div{
    line-height: 1;
    @include rtl-margin-right(8px);
    font-size: 12px;
    font-family: $headings-font-family;
    font-weight: 400;
    padding: 8px 15px;
    background:$theme-color;
    color: #fff;
    display: inline-block;
    text-align: center;
    span{
      font-size: 18px;
      font-weight: 700;
      display: block;
      margin: 0 0 4px;
    }
  }
}
// widget localtion
.widget-location{
  .media-heading{
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  .media-left{
    font-size: 22px;
    min-width: 45px;
  }
  .media{
    font-size: 15px;
    margin: 0 0 25px;
  }
}
//feature-banner
.feature-banner-inner{
  text-align: center;
  overflow: hidden;
  color: #fff;
  .widget-title{
    color: #fff;
    font-size: 25px;
  }
  @media (min-width:480px){
    &.col-lg-cus-5{
      width: 20%;
      @include rtl-float-left();
    }
  }
  .banner-static{
    position: relative;
    .widget-title{
      position: absolute;
      top:50%;
      left: 0;
      width: 100%;
      @include translateY(-50%);
    }
  }
  .banner-body{
    background: #00a1f1 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 15px;
    height: 100%;
    left: 0;
    @include opacity(0);
    position: absolute;
    text-align: center;
    top: 100%;
    @include transition(all 0.3s ease-in-out 0s);
    width: 100%;
    z-index: 1;
    .widget-title{
      margin: 0 0 45px;
      position: relative;
      &:before{
        background: #ffffff none repeat scroll 0 0;
        bottom: -22px;
        content: "";
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 52px;
      }
    }
    .description{
       margin: 0 0 35px;
    }
    a{
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      .fa{
        @include rtl-margin-left(8px);
      }
    }
  }
  .content{
    left: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }
  &:hover{
    .banner-body{
      @include opacity(1);
      top: 0;
    }
  }
}
// .widget-contactform
.widget-contactform{
  .control{
    font-size: 13px;
    padding:10px 30px;
    max-width: 100%;
    width: 100%;
    margin:0 0 30px;
    border:1px solid $border-color;
  }
  textarea.control{
    margin:0 0 $theme-margin;
  }
  .des{
    max-width: 760px;
    margin: 0 auto;
  }
}


//widget-brands
.widget-brands{
   margin: 0 15px;
  [class*="col-"]{
    height: 308px;
    border-bottom: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    background: #ffffff;
    a{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      @include translateY(-50%);
    }
    .image-wrapper{
      text-align: center;
    }
  }
}

// widget timeline
.service-timeline {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    @media(min-width:992px){
      padding:0 100px;
    }
    .date{
      color: #fff;
      font-size: 14px;
      padding: 2px 15px;
      background: $theme-color;
      display: inline-block;
      @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
      @media(min-width:992px){
        @include translateY(-17px);
      }
    }
    .hentry {
      position: relative;
    }
    @media(min-width:992px){
      &:before {
        background: $border-color;
        content: "";
        left: 50%;
        top: 60px;
        bottom: 0;
        position: absolute;
        width: 1px;
        margin-left: -1px;
        height: 82%;
        @media(max-width: $screen-sm-max){
          display: none;
        }
      }
    }
    > li {
        display: block;
        width:100%;
        position: relative;
        padding-top: 25px;
        .hentry{
          width: 50%;
        }
        @media(max-width:991px){
          .hentry{
            width: 100%;
            float: left;
            clear: left;
          }  
        }
        &:nth-child(odd) {
            .hentry {
              @media(min-width:992px){
                padding-right:55px;
              }
              float: left;
              clear: left;
            }
        }
        &:nth-child(even) {
            .hentry {
              @media(min-width:992px){
                padding-left:55px;
                &:before{
                  right:inherit;
                  left: -8px;
                }
              }
              float: right;
              clear: right;
              .hentry-box{
                @media(min-width:992px){
                  &:before{
                    left:inherit;
                    right: 100%;
                    @include rotate(180deg);
                  }
                }
              }
            }
        }
        .hentry {
          position: relative;
          @media(min-width:992px){
            &:before{
              content: '';
              @include size(18px,18px);
              border:3px solid #fff;
              @include border-radius(50%);
              background: $border-color;
              position: absolute;
              top:35px;
              right:-8px;
              @include box-shadow(0 0 0 3px $border-color);
            }
          }
          .hentry-box{
            position: relative;
            @media(min-width:992px){
              &:before{
                content: '';
                @include size(28px,20px);
                border-style: solid;
                border-width: 10px 14px;
                border-color: transparent transparent transparent #f8f8f8;
                position: absolute;
                top:35px;
                left: 100%;
              }
            }
          }
          .title{
            font-size: 16px;
            font-weight: 700;
            margin:0 0 5px;
            color: $black;
            text-transform: uppercase;
          }
          .content{
            font-size: 14px;
          }
          .content-inner{
            padding:0 30px 50px 30px;
            background: #f8f8f8;
            color: #777777;
          }
        }
    }
}


.grid-style-2{
  > .row{
    margin:0;
    > [class *="col-"]{
      padding: 0;
    }
  }
}
.no-space{
  margin:0 !important;
  >.apus-container{
    > .vc_fluid{
      padding:0;
    }
  }
  .row{
    margin:0;
    > [class *= "col"]{
      padding: 0;
    }
  }
}

@media(min-width:992px){
  .space-border{
    .row{
      margin:0;
      > [class *= "col"]{
        @include rtl-border-right(1px solid $border-color);
        &:last-child{
          border:none;
        }
      }
    }
  }
}
.font-size-36{
  font-size: 36px !important;
}
.font-size-30{
  font-size: 30px !important;
}
.space-10{
  margin-bottom:10px !important;
}
.space-15{
  margin-bottom:15px !important;
}
.space-25{
  margin-bottom:25px !important;
}
.space-30{
  margin-bottom:30px !important;
}
.space-50{
  margin-bottom:50px !important;
}
.space-padding-35{
    padding:35px 0 !important;
}
.space-padding-tb-90{
  padding-top:90px !important;
  padding-bottom: 90px !important;
}
.space-padding-tb-55{
  padding-top:55px !important;
  padding-bottom: 55px !important;
}
.space-padding-lr-100{
  padding-left:100px !important;
  padding-right: 100px !important;
}
.p-relative{
  position: relative !important;
}
.p-absolute{
  position: absolute !important;
}
.p-static{
  position: static !important;
}
.hr{
  border-top:1px solid $border-color;
  min-height: 1px;
  width: 100%;
}
.text-theme{
  color: $theme-color;
}
.bg-theme{
  background: $theme-color;
}
.border-theme{
  border-color: $theme-color;
}
.wpb_single_image{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    z-index: 2;
    @include transition(all 0.2s ease-in-out 0s);
    content: '';
    @include size(100%,100%);
    background: $theme-color;
    @include opacity(0);
    top: 0;
    left: 0;
  }
  &:after{
    position: absolute;
    @include transition(all 0.3s ease-in-out 0s);
    content: '';
    top: $theme-margin;
    left: $theme-margin;
    right: $theme-margin;
    bottom: $theme-margin;
    border:1px solid #fff;
    z-index: 3;
    @include scale(0);
  }
  &:hover{
    &:before{
      @include opacity(0.5);
    }
    &:after{
      @include scale(1);
    }
  }
}
footer{
  .wpb_single_image{
    &:before,
    &:after{
      display: none;
    }
  }
}

//kc-container
.kc-row-container.kc-container{
  max-width: 1440px;
}


.table-fix >[class*="col-"]{
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

.bg-theme-color-secondary{
  background: $theme-color-secondary;
}



//aboutus
.aboutus{
  text-align: center;
  .title-aboutus{
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 8px;
    font-family: $font-family-serif;
  }
  p{
    font-size: 18px;
    color: #515151;
    line-height: 30px;

  }
}

//kc-team
.kc-team-3{
  &:hover{
    overflow: visible !important;
    @include box-shadow(1px 1px 8px 1px #d9d9d9);
    
    .overlay{
      padding: 115px 40px 0 !important;
      background: #ffffff !important;
      height: 100% !important;
      .content-socials{
        margin-top: 105px !important;
        display: block;
        a{
          background: none;
          border: none;
          color: #515151;
          margin: 0 5px;
        }
      }
      .content-title{
        color: #111111;
        font-size: 24px;
        line-height: 25px;
        font-family: $font-family-serif;
        margin: 0;
      }
      .content-subtitle{
        color: #515151;
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: 700;
      }
      .content-desc{
        color: $text-color;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0 0;
        display: block;
      }
    }
  }
  .overlay{
    background: rgba(#ffffff,0.7) !important;
    padding: 44px 40px 0 !important;
    height: 130px !important;
    opacity: 1 !important;
    top: 100%;
    -webkit-transform: translateY(-100%)  !important;
    -o-transform: translateY(-100% )  !important;
    -ms-transform: translateY(-100% )  !important;
    transform: translateY(-100% )  !important;
    .content-socials{
      display: none;
    }
    .content-title{
      color: #111111;
      font-size: 24px;
      line-height: 25px;
      font-family: $font-family-serif;
      margin: 0;
    }
    .content-subtitle{
      color: #515151;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 700;
    }
    .content-desc{
      display: none;
    }
  }
}

.team{
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  margin-bottom: 40px;
  .title-fix{
    line-height: 55px;
  }
  p{
    // font-family: $font-family-serif;
    font-size: 18px;
    color: #515151;
    line-height: 26px;
  }
}

.title-fix{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  font-family: $font-family-serif;
}

//kc_accordion_wrapper
.kc_accordion_wrapper{
  *{
    font-family: $font-family-sans-serif;
    font-size: 16px;
  }
  border: 1px solid #f2f2f2;
  .kc_accordion_section{
    background: #ffffff;
    &.group{
      padding:0px;
    }
    >.kc_accordion_header{
      border: none;
    }
    .ui-accordion-header-icon{
      font-size: 12px;
      font-weight: 700;
    }
    .kc_accordion_content{
      border: none;
      @include rtl-padding-left(15px);
      color: #515151;
      .kc-panel-body{
        padding: 0 15px 10px;
      }
    }
    .kc_accordion_header > a{
      font-size: 16px;
      font-weight: 700;
      padding: 20px;
    }
    border-bottom: 1px solid #f2f2f2;
    &:last-child{
      border: none;
    }
    &.kc-section-active{
      background: #f8f8f8;
      .kc_accordion_header > a{
        color: #111111;
      }
      .ui-accordion-header-icon{
        color: #111111;
      }
    }
  }
}

.contact-info{
    color: #515151;
    font-size: 16px;
    line-height: 25px;
    .media-left{
        >i{
            vertical-align: -3px;
            color: #aaaaaa;
        }
    }
}


//.kc_tabs_nav
.kc_tabs_nav ~ .kc_tab .kc_tab_content{
    padding: 0px !important;
}
.kc_tabs_nav ~ .kc_tab.ui-tabs-body-active{
  background: transparent !important;
}

.kc_tabs_nav{
  margin: 30px 0 40px !important;
  background: transparent !important;
  li{
    border: none !important;
    a{
      background: transparent !important;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700;
      color: $text-color !important;

    }
    &:hover{
        background: transparent !important;
    }
  }
  .ui-tabs-active{
    a{
      color: #111111 !important;
    }
  }

  

}

.ui-tabs{
  .kc_accordion_section.group {
    
    .kc_accordion_header{
      @include rtl-padding-left(10px);
    }
  }
  .kc_accordion_wrapper .kc_accordion_section.kc-section-active{
    .kc_accordion_header{
      background: #f2f2f2;
    }
    .kc_accordion_content{
      background: #fafafa;
      padding: 15px 0 0;
      @include rtl-padding-left(10px);
    }
  }
}

.kc_tabs_nav > li > a, .nav-pills > li > a{
  padding: 0 !important;
  @include rtl-padding-right(50px !important);
  font-family: $font-family-serif;
}

//.title-contactus
.title-contactus{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 25px;
  font-family: $font-family-serif;
}


.kc-google-maps iframe{
    pointer-events: none;
    // &.clicked{
    //   pointer-events: auto;
    // }
}