/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    clear: both;
    .#{$block-heading-selector}{
        font-size: 16px;
        font-weight: 400;
        margin:0 0 40px;
        padding: 0;
        text-transform: uppercase;
        position: relative;
        font-family: $font-family-three;
        letter-spacing: 1.2px;
        > span{
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
.title-md{
    font-size: 36px !important;
    font-weight: 700 !important;
}
.wpb_video_widget .video-description{
    padding: 10px;
}
// Sidebar
.sidebar,
.#{$app-prefix}-sidebar {
    .widget{
        margin: 0 0 40px;
        overflow:hidden;
        .widget-title{
            margin: 0 0 20px;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    //fix datasimple
    ul{
        li{
            a{
                &:before{
                    display: none;
                }
                padding: 0px !important;
            }
        }
    }

    
    .widget-testimonials,
    .widget-list.widget-products{
        .widget-title {
            margin: 0;
            background: $theme-color-third;
            color: #fff;
            font-size: 14px;
            padding:15px $theme-padding;
            border:none;
            > span{
                border:none;
                padding: 0;
                margin: 0;
            }
        }
    }
    .testimonials-v1{
        padding: $theme-padding;
        border-color: $border-color;
        border-style: solid;
        border-width: 0 1px 1px;
    }
    // widet porducts list
    .apus-products-list{
        border-style: solid;
        border-color: $border-color;
        border-width:0 1px 1px;
        .product-block{
            padding: 20px;
            margin: 0;
        }
    }
}
// top bar
#apus-topbar{
    .woocommerce-currency-switcher-form .dd-select{
        background: transparent !important;
        color: $topbar-color;
    }
    .woocommerce-currency-switcher-form a{
        color: $topbar-color;
        &:hover{
            color: $link-color;
        }
    }
    .widget-woocommerce-currency-switcher{ 
        .dd-option{
            border: none;
        }
    }
    .woocommerce-currency-switcher-form .dd-selected{
        padding: 0 10px !important;
    }
    // widget info
    .info-topbar{
        .textwidget{
            > span{
                @include rtl-padding-right(10px);
                @include rtl-margin-right(10px);
                @include rtl-float-left();
                @include rtl-border-right(1px solid $border-color);
                &:last-child{
                    border: 0;
                }
            }
        }
        .fa{
            @include rtl-margin-right(8px);
        }
    }
}
// header
.header-setting{
    .apus-search-form .button-search,
    .wishlist-icon,
    .cart-icon{
        border:none; 
        color: $theme-color;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        padding:0;
        display: inline-block;
        background: transparent;
    }
    .top-cart,
    .apus-search,
    .wishlist-icon{
        padding: 0 20px;
    }
    // search
    .apus-search-form{
        width: 30px;
        min-width: 0;
        min-width: none;
        position: relative;
        .apus-search{
            position: absolute;
            right: 100%;
            top: 0;
            @include opacity(0);
            width: 0;
        }
        &:hover{
            .apus-search{
                @include opacity(1);
                width: 250px;
            }
            .button-search{
                border-radius: 0 !important;
            }
        }
    }
    .apus-menu-top{
        padding: 10px 30px;
        list-style: none;
        margin: 0;
    }
}

.apus-search-form{
    .select-category{
        display: inline-block;
        @include rtl-float-left();
        overflow:hidden;
        position: relative;
        min-width: 240px;
        &:before{
            content: "\f107";
            font-family: 'FontAwesome';
            position: absolute;
            @include rtl-right(30px);
            top:50%;
            @include translateY(-50%);
            font-size: 18px;
        }
        .dropdown_product_cat{
            border: 1px solid $border-color;
            width: 115%;
            height: $input-height-base;
            padding: 10px 20px;
        }
    }
}

// footer
.apus-footer{
    .#{$block-heading-selector}{
        color: $footer-heding-title-color;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 15px;
        border:none;
        > span{
            padding: 0;
            margin: 0;
            border:none;
        }
    }

    //kc_title
    .kc_title{
        color: $footer-heding-title-color;
        margin: 0px 0px 20px;
        font-size: 24px;
        text-transform: uppercase;
    }
    font-family: $font-family-sans-serif;

    //kc-image-gallery
    .kc-image-gallery{
        .image-gallery-title{
            margin:0 0 25px 0;
            color: $theme-color;
            text-transform: uppercase;
        }
        .kc_image_gallery{
            .item-grid{
                padding-bottom:15px;
                @include rtl-padding-right(15px);
            }
        }
    }

    .#{$app-prefix}-copyright{
       
    }

}
// copyright
.apus-copyright{
    .wpb_content_element,
    .widget{
        margin: 0 !important;
    }
    .social{
        @include rtl-text-align-right();
    }
}